@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral Colors */

  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0, 0%, 95%);
  line-height: 2;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 1rem;
}

.container1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container3 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container1,
.container2,
.container3 {
  background: hsl(31, 77%, 52%);
  width: 30%;
  max-width: 305px;
  padding: 2.7rem 0 2rem 1rem;
}

.cont-1,
.cont-2,
.cont-3 {
  margin: 0rem 0 0 1.5rem;
}

.container1 h1,
.container2 h1,
.container3 h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display";
  text-transform: uppercase;
  margin: 0.6rem 0 0 0.3rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.container1 p,
.container2 p,
.container3 p {
  color: hsla(0, 0%, 100%, 0.75);
  max-width: 210px;
  line-height: 1.7;
  font-size: 0.938rem;
  font-family: "Lexend Deca";
}

.container1 button,
.container2 button,
.container3 button {
  margin: 5.35rem 0 0 0.4rem;
  border: none;
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  padding: 0.8131rem 2.2rem;
  border-radius: 20px;
  font-size: 0.938rem;
  border: 2px solid hsl(0, 0%, 95%);
}

.container1 button:hover,
.container2 button:hover,
.container3 button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
}

/* 2nd Container
2nd Container
2nd Container */

.container2 {
  background-color: hsl(184, 100%, 22%);
}
.container2 button {
  color: hsl(184, 100%, 22%);
}
.container2 button:hover {
  background-color: hsl(184, 100%, 22%);
}

/* 3rd Container
3rd  Container 
3rd Container  */

.container3 {
  background: hsl(179, 100%, 13%);
}

.container3 button {
  color: hsl(179, 100%, 13%);
}

.container3 button:hover {
  background-color: hsl(179, 100%, 13%);
}

@media (max-width: 878px) {
  .main-container {
    display: inline;
  }

  .container1,
  .container2,
  .container3 {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .container1,
  .container2 {
    margin-top: 2rem;
  }

  .container3 {
    /* margin-top: 2rem; */
    margin-bottom: 2rem;
  }
}
